

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bebas Neue;
}

body {
  background: #f5f5f5;
}


/* ================= NAVIGATION ================= */

.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
 
  
   
}







.nav-container {

  width: 100%;
  height: 80px;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 25px rgb(61, 61, 61);
  letter-spacing: 1px;
  padding: 10px 30px;
  transition: all 0.4s ease;
  
  

}

.navbar.scrolled {
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  z-index: 999;
  

  
}



.nav-container.scrolled {
  padding: 0;
  max-width: 100%;
  padding-right: 10px;
  border-radius: 0px;
  display: flex;
  z-index: 999;
 
  


}



.logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  flex-shrink: 0;
  vertical-align: center;
  
}

.logoimg {
  height: 150px;
  display: block;
  width: auto;
  object-fit: contain;


  
  padding: 0;
  margin-top: 10px;
  transform: translateY(0);
}

@media (max-width: 845px) {
  .logoimg {
    height:120px ;
  }
}



.nav_links a {
  margin: 0px 15px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.3s;

}

.nav_links{
  display: flex;
  align-items: center;
  gap: 0px;
}

.nav_links a:hover{
  color:rgba(66, 183, 255) ;
}

.hamburger{
  display: none;
  cursor: pointer;
  z-index: 999;
  background-color: #0d2b45;
  padding: 9px 9px;
  border-radius: 10px;

}

.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  background-color: #ffffff;


}

@media (max-width: 845px) {

  

 
   .hamburger {
    display: block;
  }

  .nav_links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 25px 0;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    /* Hidden state */
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav_links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }


 
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}


/* ================= PRIMARY BUTTON ================= */

.btn-primary {
  background: #0d2b45;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: 0.3s;
  letter-spacing: 1.5px;
  display: none;
  flex-shrink: 1;
  

}

@media (min-width: 1024px) {
  .btn-primary {
    display: inline-block;
  }

}

@media (max-width: 1024px) {
  .btn-primary {
    flex-shrink: 1;
    
  }

}

.btn-primary::before {
  content: "";
  position: absolute;
  background-color: rgba(66, 183, 255);
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
}

.btn-primary:hover::before {
  width: 100%;
}

.btn-primary:hover {
  color: #0d2b45;
  font-weight: bold;
}


/* ================= HERO SECTION ================= */

.hero {
  background: rgba(0, 32, 63);
  color: #fff;
  padding: 220px 5%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



@media  (max-width : 767px){

.hero{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin: 0;
    

}


.hero-content{
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin: 0;
  

  
}

.hero-buttons{
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  align-items:center ;
}


}
  


.hero-content {
  max-width: 550px;
  margin-left: 0 auto;
  
}

.tagline {
  letter-spacing: 4px;
  font-size: 17px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.1;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}


/* ================= SECONDARY BUTTON ================= */

.btn-secondary {
  background: rgba(66, 183, 255);
  color: #fff;
  padding: 13px 38px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.4s;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  transition: 0.3s;
}

.btn-secondary:hover::before {
  width: 100%;
}

.btn-secondary:hover {
  color: #0d2b45;
}


/* ================= LINK BUTTON ================= */

.btn-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  padding: 13px 38px;
  border-radius: 30px;
  transition: color 0.4s, background-color 0.4s;
}

.btn-link:hover {
  color: black;
  background-color: white;
}


/* ================= MOCKUPS ================= */

.hero-image {
  position: relative;
  width: 500px;
  height: 350px;
}

.mockup-laptop {
  width: 100%;
  height: 280px;
  background: #ffffff;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.mockup-phone {
  width: 140px;
  height: 260px;
  background: #ffffff;
  border-radius: 30px;
  position: absolute;
  bottom: 40px;
  right: -60px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.curve {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f5f5f5;
  border-top-left-radius: 100% 100px;
  border-top-right-radius: 100% 100px;
}


/* ================= MID SECTION ================= */

.midsec1 {
  display: flex;
  position: relative;
  color: rgb(88, 88, 88);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 3px;
}

.midsec2 {
  display: flex;
  position: relative;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
}

.midsec3 {
  display: flex;
  position: relative;
  color: rgb(88, 88, 88);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 100px;
}

/*-----------OFFER CARDS----------- */


.card-section{
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  padding: 60px 40px;
  display: grid;
  max-width: 1600px;
  margin-top: 80px;
  gap: 30px;
  row-gap: 90px;
  flex-direction: column;
  transition: all 0.4 ease;
  margin: 0 auto;
  
  
  

}



.card{
  position: relative;
  background-color: rgb(234, 234, 234);
  width: 100%;
  padding: 90px 50px 60px 42px;
  border-radius: 30px;
  min-height: 330px;
  
  
}


@media  (max-width : 1024px){
  .card-section{
    grid-template-columns: repeat(2,1fr);
    
  }

  

  
}

@media  (max-width : 768px){

  .card-section{
    grid-template-columns: 1fr;
    
    
    
    
 }

}



.icon-box{
  position: absolute;
  top: -50px;
  left: 40px;
  width: 100px;
  height: 100px;
  background-color: #0d2b45;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.icon-box i{
  font-size: 40px;
  color: white;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  display: flex;
  


  
  
}

.card h2{
  text-align: left;
  margin-bottom: 20px;
  
  
  padding: 0;
  gap:  5vh;
  display: flex;
  color: #0d2b45;
  letter-spacing: 1px;
  white-space: nowrap;

}



.card p{
  font-size: 17px;
  color: rgb(88, 88, 88);
  font-family: "Source Sans 3";
  
}

.schedule {
    display: flex;
    justify-content: center; 
    margin-top: 20px 0;          
    width: 100%;
    margin-bottom: 100px;
}




.btn-primary2 {
  background: #0d2b45;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: 0.3s;
  letter-spacing: 1.5px;
  display: inline-block;
  flex-shrink: 1;
  justify-content: center;
  

}

.btn-primary2::before {
  content: "";
  position: absolute;
  background-color: rgba(66, 183, 255);
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
}

.btn-primary2:hover::before {
  width: 100%;
}

.btn-primary2:hover {
  color: #0d2b45;
  font-weight: bold;
}

/*-----------PRICING----------- */

.header-pricing {
  display: flex;
  position: relative;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
}

.line{
  display: flex;
  height: 3px;
  width: 70%;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background: linear-gradient( to right,#f5f5f5 ,rgba(66, 183, 255),#f5f5f5 );
}




.pricing-box{
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: center;
  column-gap: 30px;
  margin: 0 auto;

}

.pricing-box h2{
  text-align: left;
  margin-bottom: 20px;
  font-size: 30px;
  
}

.pricing-card{
  background-color: rgb(234, 234, 234);
  margin: 0 auto;
  padding: 30px 30px 10px ;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  height: 450px;
  display: flex;
  flex-direction: column;
  
   
}





.feature{
  justify-content: space-between;
  display: flex;
  
  
}


.pricing-list{
 
  list-style: none;
 
}


.checkmark{
  list-style: none;
  align-items: right;
  justify-content: right;
 
  
}

.pricing-list li{
  color: white;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: lighter;
   color: black;
}

.checkmark li{
  
  line-height: 25px;
   color: rgba(66, 183, 255);

  
}


@media (max-width : 1024px){

  .pricing-box{
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
  }

  .pricing-card:nth-child(3){

  justify-self: center;  
  width: 50%;
  height: 470px;
  grid-column: 1 / 3;
      
}

.pricing-card{
  width: 100%;
  height: 470px;
}


  
}




@media  (max-width : 768px){ 

  .pricing-box{
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 50px 0px 10px ;
    

  }

  .pricing-card{
    width: 100%;
    max-width: 400px;
    
    
  }
  
  .pricing-card:nth-child(3){

  justify-self: stretch;  
  width: 100%;
  height: 470px;
  grid-column: auto;
      


}


}


.pricing-cta{
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0;
  margin-top: auto;
  

}


@media  (max-width : 1024px){

  .pricing-cta{
    display: flex;
    justify-content: space-between;
    padding-bottom:20px ;
  }
  
}

.pricing-cta p{
  font-size: 40px;
  

}














